@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="viewContainer">
  <h2>Are you sure you want to take this machine out of commission?</h2>

  <h4>@Html.DisplayFor(model => model.Name)</h4>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
</div>