@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="viewContainer">
  <h2>Add a machine</h2>

  <h4>Select machine to add to @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
  }
</div>