@{
    ViewData["Title"] = "Company Picnics Highlights ";
}

<div class="viewContainer" id="photosPage">
    <h1>@ViewData["Title"]</h1>
    <div class="photos">
        <img src="~/images/picnic1.jpg">
        <img src="~/images/picnic5.jpg">
        <img src="~/images/picnic6.jpg">
        <img src="~/images/picnic4.jpg">
    </div>
</div>


